.ProductCard {
  margin: 16px;
  padding: 16px;
  border-radius: 20px;
  background: #ececec;
  box-sizing: border-box;
  height: 140px;
  width: 140px;
  display: inline-block;
}

.ProductCardSelected {
  margin: 16px;
  padding: 16px;
  background: #ececec;
  box-sizing: border-box;
  height: 140px;
  width: 140px;
  display: inline-block;
  border:3px;
  border-style:solid;
  border-color: #af3f3f;
  border-radius: 20px;
}

.WatchImage {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 992px) {
  .ProductCard {
    display: inline-block;
  }
}