.ProductCard {
  margin: 16px;
  padding: 16px;
  border-radius: 30px;
  background: #ececec;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  text-align: right;
  display: inline-block;
}

.ProductCardSelected {
  margin: 16px;
  padding: 16px;
  background: #a8a8a8;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  text-align: right;
  display: inline-block;
  border:3px;
  border-style:solid;
  border-color: #af3f3f;
  border-radius: 30px;
}

.WatchImage {
  height: 180px;
  width: 180px;
}


@media (min-width: 992px) {
  .ProductCard {
    display: inline-block;
  }
}