.SelectedProduct {
  position: relative;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 450px;
  width: 350px;

}
.WatchImage {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
}
.HeartRate {
  position: absolute;
  top: 170px;
  left: 170px;
  height: 50px;
  width: 50px;
}